# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\metay\Documents\Master 2\Web 3.0\Web Scraping et Fouille de Textes\TD1-Analyses-en-caracteres\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
